<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="foundation">
        <link rel="stylesheet" href="${resource(dir: 'css', file: 'normalize.css')}" type="text/css">
        <link rel="stylesheet" href="${resource(dir: 'css', file: 'rrssb.css')}" type="text/css">
        <link rel="stylesheet" href="${resource(dir: 'css', file: 'demo.css')}" type="text/css">
	</head>
	<body>
    <div class="row">
        <div class="large-6 columns">
            <div class="panel">
                Please sign-in with identity provider of your choice
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns" style="text-align: center;">
            <span id="signinButton">
                <span   class="g-signin"
                        data-height="tall"
                        data-callback="signin_callback"
                        data-redirecturi="postmessage"
                        data-clientid="435144070273-4if06hh5rec9n5uu2ac69lijo0d7d68b.apps.googleusercontent.com"
                        data-accesstype="offline"
                        data-cookiepolicy="single_host_origin"
                        data-approvalprompt="force"
                        data-scope="email profile">
                </span>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <p>While G+ button above exercise JavaScript based <a href="https://developers.google.com/+/web/signin/add-button">client-side sign-in flow</a>,
                the G+ button below implement <a href="https://developers.google.com/+/web/signin/redirect-uri-flow">server-side flow</a>.</p>
            <p>Also, these nice buttons comes from <a href="https://github.com/kni-labs/rrssb">Ridiculously Responsive Social Sharing Buttons</a> project.</p>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns" style="text-align: center;">
            <div class="share-container clearfix">
            <ul class="rrssb-buttons clearfix">
                <li class="facebook">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=http://kurtnoble.com/labs/rrssb/index.html" class="popup">
                        <span class="icon">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="28px" viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve">
                                <path d="M27.825,4.783c0-2.427-2.182-4.608-4.608-4.608H4.783c-2.422,0-4.608,2.182-4.608,4.608v18.434
c0,2.427,2.181,4.608,4.608,4.608H14V17.379h-3.379v-4.608H14v-1.795c0-3.089,2.335-5.885,5.192-5.885h3.718v4.608h-3.726
c-0.408,0-0.884,0.492-0.884,1.236v1.836h4.609v4.608h-4.609v10.446h4.916c2.422,0,4.608-2.188,4.608-4.608V4.783z"/>
                            </svg>
                        </span>
                        <span class="text">facebook</span>
                    </a>
                </li>
                <li class="googleplus">
                    <a href="https://plus.google.com/share?url=Check%20out%20how%20ridiculously%20responsive%20these%20social%20buttons%20are%20http://kurtnoble.com/labs/rrssb/index.html" class="popup">
                        <span class="icon">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="28px" viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M14.703,15.854l-1.219-0.948c-0.372-0.308-0.88-0.715-0.88-1.459c0-0.748,0.508-1.223,0.95-1.663
c1.42-1.119,2.839-2.309,2.839-4.817c0-2.58-1.621-3.937-2.399-4.581h2.097l2.202-1.383h-6.67c-1.83,0-4.467,0.433-6.398,2.027
C3.768,4.287,3.059,6.018,3.059,7.576c0,2.634,2.022,5.328,5.604,5.328c0.339,0,0.71-0.033,1.083-0.068
c-0.167,0.408-0.336,0.748-0.336,1.324c0,1.04,0.551,1.685,1.011,2.297c-1.524,0.104-4.37,0.273-6.467,1.562
c-1.998,1.188-2.605,2.916-2.605,4.137c0,2.512,2.358,4.84,7.289,4.84c5.822,0,8.904-3.223,8.904-6.41
c0.008-2.327-1.359-3.489-2.829-4.731H14.703z M10.269,11.951c-2.912,0-4.231-3.765-4.231-6.037c0-0.884,0.168-1.797,0.744-2.511
c0.543-0.679,1.489-1.12,2.372-1.12c2.807,0,4.256,3.798,4.256,6.242c0,0.612-0.067,1.694-0.845,2.478
c-0.537,0.55-1.438,0.948-2.295,0.951V11.951z M10.302,25.609c-3.621,0-5.957-1.732-5.957-4.142c0-2.408,2.165-3.223,2.911-3.492
c1.421-0.479,3.25-0.545,3.555-0.545c0.338,0,0.52,0,0.766,0.034c2.574,1.838,3.706,2.757,3.706,4.479
c-0.002,2.073-1.736,3.665-4.982,3.649L10.302,25.609z"/>
                                        <polygon points="23.254,11.89 23.254,8.521 21.569,8.521 21.569,11.89 18.202,11.89 18.202,13.604 21.569,13.604 21.569,17.004
23.254,17.004 23.254,13.604 26.653,13.604 26.653,11.89 "/>
                                    </g>
                                </g>
                            </svg>
                        </span>
                        <span class="text">google+</span>
                    </a>
                </li>
                <li class="github">
                    <a href="https://github.com/kni-labs/rrssb">
                        <span class="icon">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="28px" height="28px" viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve">
                                <path d="M13.971,1.571c-7.031,0-12.734,5.702-12.734,12.74c0,5.621,3.636,10.392,8.717,12.083c0.637,0.129,0.869-0.277,0.869-0.615
c0-0.301-0.012-1.102-0.018-2.164c-3.542,0.77-4.29-1.707-4.29-1.707c-0.579-1.473-1.414-1.863-1.414-1.863
c-1.155-0.791,0.088-0.775,0.088-0.775c1.277,0.104,1.96,1.316,1.96,1.312c1.136,1.936,2.991,1.393,3.713,1.059
c0.116-0.822,0.445-1.383,0.81-1.703c-2.829-0.32-5.802-1.414-5.802-6.293c0-1.391,0.496-2.527,1.312-3.418
C7.05,9.905,6.612,8.61,7.305,6.856c0,0,1.069-0.342,3.508,1.306c1.016-0.282,2.105-0.424,3.188-0.429
c1.081,0,2.166,0.155,3.197,0.438c2.431-1.648,3.498-1.306,3.498-1.306c0.695,1.754,0.258,3.043,0.129,3.371
c0.816,0.902,1.315,2.037,1.315,3.43c0,4.892-2.978,5.968-5.814,6.285c0.458,0.387,0.876,1.16,0.876,2.357
c0,1.703-0.016,3.076-0.016,3.482c0,0.334,0.232,0.748,0.877,0.611c5.056-1.688,8.701-6.457,8.701-12.082
C26.708,7.262,21.012,1.563,13.971,1.571L13.971,1.571z"/>
                            </svg>
                        </span>
                        <span class="text">github</span>
                    </a>
                </li>
            </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns" id="response">
        </div>
    </div>
    <script src="${resource(dir: 'js', file: 'rrssb.min.js')}"></script>
    <script type="text/javascript">
        function signin_callback(auth) { $app.signin_callback(auth, '${csrf_token}') }
    </script>
	</body>
</html>
