.spinner {
    display: none;
    background: url(../images/spinner.gif) 50% 50% no-repeat;/* transparent;*/
    height: 16px;
    width: 16px;
    padding: 0.5em;
    position: absolute;
    right:10px;
    top: 10px;
    text-indent: -9999px;
}

.skip {
    display: none;
}
